target/
eclipse_config/
.classpath
.project
org.eclipse.m2e.core.prefs
org.eclipse.core.resources.prefs
org.eclipse.pde.core.prefs
*.iml
.idea/
sys$command

# maven-release-plugin
release.properties
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
dependency-reduced-pom.xml
