<!DOCTYPE html>
<html>
    <head>
        <title>Objenesis : \${title}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style.css"/>
        \${head}
        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44893337-1', 'objenesis.org');
  ga('send', 'pageview');
        </script>
    </head>
    <body>
        <div id="banner">
            <a href="index.html"><img id="logo" src="objenesis.png" alt="Objenesis" width="300" height="75"/></a>
            <a href="https://github.com/easymock/objenesis"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 10" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
        </div>

        <div id="center" class="Content2Column">
            <div id="content">
                <h1 class="FirstChild">\${title}</h1>
                \${body}
                <br/><br/>
            </div>
        </div>

        <div class="SidePanel" id="left">
            <#list sitemap.sections as section>
                <div class="MenuGroup">
                    <h1>\${section.name}</h1>
                    <ul>
                        <#list section.pages as otherPage>
                            <#if otherPage = page>
                                <li class="currentLink">\${otherPage.title}</li>
                            <#else>
                                <li><a href="${otherPage.href}">\${otherPage.title}</a></li>
                            </#if>
                        </#list>
                    </ul>
                </div>
            </#list>
        </div>

  </body>
</html>
